tests/spring/src/test/resources/entesb14876/hello.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloService" targetNamespace="http://example.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.org/" version="1.0">

  <xs:element name="TestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="xs:int"/>
        <xs:element minOccurs="0" name="val1" type="xs:string"/>
        <xs:element minOccurs="0" name="val2" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TestRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="xs:boolean"/>
        <xs:element minOccurs="0" name="val2" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="TestRequestResponse">
    <wsdl:part element="tns:TestRequestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestRequest">
    <wsdl:part element="tns:TestRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Hello">
    <wsdl:operation name="TestRequest">
      <wsdl:input message="tns:TestRequest" name="TestRequest">
    </wsdl:input>
      <wsdl:output message="tns:TestRequestResponse" name="TestRequestResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloServiceSoapBinding" type="tns:Hello">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TestRequest">
      <soap:operation soapAction="http://example.org/TestRequest" style="document"/>
      <wsdl:input name="TestRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port binding="tns:HelloServiceSoapBinding" name="HelloPort">
      <soap:address location="http://localhost:8080/service/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>